body {
  font-family: Roboto, Arial;
}

.details {
  color: black;
  list-style-type: none;
  padding: 24;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 50px;
  margin-left: 250px;
  width: 150px;
}

li {
  display: inline-flex;
  background-color: rgb(61, 28, 86);
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}